{% extends 'base.html' %}
{% block content %}

<h2>Plant Holder Details</h2>
<div class="row">
    <div class="col s6 col-offset-3">
        <div class="card">
            <div class="card-content">
               <span class="card-title">{{ holder.name }}</span>
              <p>Description: {{ holder.description }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'holders_update' holder.id %}">Edit</a>
                <a href="{% url 'holders_delete' holder.id %}">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
