{% extends 'base.html' %}
{% block content %}

<h1>🌿 House Plant List 🌿</h1>
{% for plant in plants %}
<div class="card">
<a href="{% url 'detail' plant.id %}">
<div class="card-content">
<div class="card-title">{{ plant.common_name }}</div>
<h4>{{ plant.common_names }}</h4>
<p>Botanical Name: {{ plant.botanical_name }}</p>
<p>Sunlight: {{ plant.light_need }}</p>
<p>Water: {{ plant.water }}</p>
<p>Leaf detail: {{ plant.leaf_description }}</p>
<!-- {% if plant.age > 0 %}
<p>Age: {{ plant.age }}</p>
{% else %}
<p>Age: Kitten</p>
{% endif %} -->
</div>
</a>
</div>
{% endfor %}
{% endblock %}